@media screen and (max-width:600px) {
    .navbar {
        padding: 25px;
    }

    .developer-name {
        width: 40px;
    }

    .button-menu {
        display: flex;
        flex-direction: column;
        margin: auto 0; 
        row-gap: 4px;
        align-items: center;
        background: transparent;
        border: 0;
    }

    .button-menu:hover {
        cursor: pointer;
    }

    .button-menu span {
        width: 30px;
        height: 2px;
        border-radius: 10px;
        background: var(--button-menu-color);
        transition: all 0.4s;
    }

    .button-menu.active span:nth-child(2) {
        opacity: 0;
        width: 0px;
    }

    .button-menu.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-4px, 4px);
    }

    .button-menu.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -4px);
    }

    .menu {
        display: none;
        flex-direction: column;
        z-index: 1;
        padding: 10px;
        width: 100%;
        position: absolute;
        margin-top: 320px;
        align-items: flex-end;
        padding-right: 40px;
        background-color: var(--background-color);      
    }

    .menu.show {
        display: flex;
    }

    .menu-item {
        transition: background-color .2s ease-in-out;
        padding: 5px 8px;
        margin: 5px 10px;
    }

    .profile-photo {
        display: flex;
        margin: 0 auto 50px;
        width: 180px;
        height: 180px;
        border-radius: 100%;
        border: 3px solid var(--cor-cinza-claro)
    }

    .emphasis {
        font-size: 1.6em;
    }

    .emphasis-text {
        font-size: .8em;
    }

    .carousel img {
        width: 100%;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 200;
        font-size: 19px;
        position: relative;
        top: 12px;
        right: 6px;
    }

    .programming-languages {
        grid-template-columns: repeat(2, 1fr);
    }

    .form-container {
        width: 100%;
    }

    .send-button {
        padding: 0 10px 25px 20px;
    }
}

@media screen and (min-width:601px) and (max-width:768px) {
    .navbar {
        padding: 25px
    }

    .button-menu {
        display: flex;
        flex-direction: column;
        margin: auto 0; 
        row-gap: 4px;
        align-items: center;
        background: transparent;
        border: 0;
    }

    .button-menu:hover {
        cursor: pointer;
    }

    .button-menu span {
        width: 30px;
        height: 2px;
        border-radius: 10px;
        background: var(--button-menu-color);
        transition: all 0.4s;
    }

    .button-menu.active span:nth-child(2) {
        opacity: 0;
        width: 0px;
    }

    .button-menu.active span:nth-child(1) {
        transform: rotate(-45deg) translate(-4px, 4px);
    }

    .button-menu.active span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -4px);
    }

    .menu {
        display: none;
        flex-direction: column;
        z-index: 1;
        padding: 10px;
        width: 100%;
        position: absolute;
        margin-top: 320px;
        align-items: flex-end;
        padding-right: 40px;
        background-color: var(--background-color);        
    }

    .menu.show {
        display: flex
    }

    .menu-item {
        transition: background-color .2s ease-in-out;
        padding: 5px 8px;
        margin: 5px 10px
    }

    .carousel img {
        width: calc(100% / 2)
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 200;
        font-size: 19px;
        position: relative;
        top: 14px;
        right: 6px
    }

    .programming-languages {
        grid-template-columns: repeat(3, 1fr);
    }

    .form-container {
        width: 460px
    }

    .send-button {
        padding-top: 0;
        font-size: .8em;
        width: 140px
    }
}